In [2]:
import pandas as pd
data={
    "Name":["John","lisa","Andrew"],
    "Age":[22,23,99],
    "Salary":[25000,45000,9999999],
    "Department":["Production","Production","Sales"],
    "Level of Management": ["Low","Middle","Top"]
    
}
df=pd.DataFrame(data)
print(df)

     Name  Age   Salary  Department Level of Management
0    John   22    25000  Production                 Low
1    lisa   23    45000  Production              Middle
2  Andrew   99  9999999       Sales                 Top

In [3]:
data=pd.read_csv("C:/Users/Lenovo/Downloads/hotel_booking.csv/hotel_booking.csv")
print(data)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  customer_type     adr  \
0                          0       2  ...      Transient    0.00
1                          0       2  ...      Transient    0.00
2                          1       1  ...      Transient   75.00
3                          1       1  ...      Transient   75.00
4                          2       2  ...      Transient   98.00
...                      ...     ...  ...            ...     ...
119385                     5       2  ...      Transient   96.14
119386                     5       3  ...      Transient  225.43
119387                     5       2  ...      Transient  157.71
119388                     5       2  ...      Transient  104.40
119389                     7       2  ...      Transient  151.20

       required_car_parking_spaces total_of_special_requests  \
0                                0                         0
1                                0                         0
2                                0                         0
3                                0                         0
4                                0                         1
...                            ...                       ...
119385                           0                         0
119386                           0                         2
119387                           0                         4
119388                           0                         0
119389                           0                         2

       reservation_status reservation_status_date                name  \
0               Check-Out              2015-07-01       Ernest Barnes
1               Check-Out              2015-07-01        Andrea Baker
2               Check-Out              2015-07-02      Rebecca Parker
3               Check-Out              2015-07-02        Laura Murray
4               Check-Out              2015-07-03         Linda Hines
...                   ...                     ...                 ...
119385          Check-Out              2017-09-06     Claudia Johnson
119386          Check-Out              2017-09-07      Wesley Aguilar
119387          Check-Out              2017-09-07        Mary Morales
119388          Check-Out              2017-09-07  Caroline Conley MD
119389          Check-Out              2017-09-07      Ariana Michael

                              email  phone-number       credit_card
0       Ernest.Barnes31@outlook.com  669-792-1661  ************4322
1            Andrea_Baker94@aol.com  858-637-6955  ************9157
2        Rebecca_Parker@comcast.net  652-885-2745  ************3734
3                 Laura_M@gmail.com  364-656-8427  ************5677
4                LHines@verizon.com  713-226-5883  ************5498
...                             ...           ...               ...
119385          Claudia.J@yahoo.com  403-092-5582  ************8647
119386         WAguilar@xfinity.com  238-763-0612  ************4333
119387     Mary_Morales@hotmail.com  395-518-4100  ************1821
119388      MD_Caroline@comcast.net  531-528-1017  ************7860
119389         Ariana_M@xfinity.com  422-804-6403  ************4482

[119390 rows x 36 columns]

In [4]:
data=pd.read_excel("C:/Users/Lenovo/OneDrive/Documents/Hotel-Booking-Cancellation/Hotel-Booking-Cancellation.xlsx")
print(data)

               hotel  is_canceled  arrival_date_year arrival_date_month  \
0       Resort Hotel            0               2015               July
1       Resort Hotel            0               2015               July
2       Resort Hotel            0               2015               July
3       Resort Hotel            0               2015               July
4       Resort Hotel            0               2015               July
...              ...          ...                ...                ...
119385    City Hotel            0               2017             August
119386    City Hotel            0               2017             August
119387    City Hotel            0               2017             August
119388    City Hotel            0               2017             August
119389    City Hotel            0               2017             August

        arrival_date_day_of_month  adults  children  babies country  \
0                               1       2       0.0       0     PRT
1                               1       2       0.0       0     PRT
2                               1       1       0.0       0     GBR
3                               1       1       0.0       0     GBR
4                               1       2       0.0       0     GBR
...                           ...     ...       ...     ...     ...
119385                         30       2       0.0       0     BEL
119386                         31       3       0.0       0     FRA
119387                         31       2       0.0       0     DEU
119388                         31       2       0.0       0     GBR
119389                         29       2       0.0       0     DEU

       reserved_room_type assigned_room_type reservation_status  \
0                       C                  C          Check-Out
1                       C                  C          Check-Out
2                       A                  C          Check-Out
3                       A                  A          Check-Out
4                       A                  A          Check-Out
...                   ...                ...                ...
119385                  A                  A          Check-Out
119386                  E                  E          Check-Out
119387                  D                  D          Check-Out
119388                  A                  A          Check-Out
119389                  A                  A          Check-Out

       reservation_status_date Room_Status guest_type
0                   2015-07-01     Desired    Couples
1                   2015-07-01     Desired    Couples
2                   2015-07-02   Undesired    Singles
3                   2015-07-02     Desired    Singles
4                   2015-07-03     Desired    Couples
...                        ...         ...        ...
119385              2017-09-06     Desired    Couples
119386              2017-09-07     Desired     Family
119387              2017-09-07     Desired    Couples
119388              2017-09-07     Desired    Couples
119389              2017-09-07     Desired    Couples

[119390 rows x 15 columns]

In [5]:
print(data.head(10))
print(data.tail(10))
print(data.info())

          hotel  is_canceled  arrival_date_year arrival_date_month  \
0  Resort Hotel            0               2015               July
1  Resort Hotel            0               2015               July
2  Resort Hotel            0               2015               July
3  Resort Hotel            0               2015               July
4  Resort Hotel            0               2015               July
5  Resort Hotel            0               2015               July
6  Resort Hotel            0               2015               July
7  Resort Hotel            0               2015               July
8  Resort Hotel            1               2015               July
9  Resort Hotel            1               2015               July

   arrival_date_day_of_month  adults  children  babies country  \
0                          1       2       0.0       0     PRT
1                          1       2       0.0       0     PRT
2                          1       1       0.0       0     GBR
3                          1       1       0.0       0     GBR
4                          1       2       0.0       0     GBR
5                          1       2       0.0       0     GBR
6                          1       2       0.0       0     PRT
7                          1       2       0.0       0     PRT
8                          1       2       0.0       0     PRT
9                          1       2       0.0       0     PRT

  reserved_room_type assigned_room_type reservation_status  \
0                  C                  C          Check-Out
1                  C                  C          Check-Out
2                  A                  C          Check-Out
3                  A                  A          Check-Out
4                  A                  A          Check-Out
5                  A                  A          Check-Out
6                  C                  C          Check-Out
7                  C                  C          Check-Out
8                  A                  A           Canceled
9                  D                  D           Canceled

  reservation_status_date Room_Status guest_type
0              2015-07-01     Desired    Couples
1              2015-07-01     Desired    Couples
2              2015-07-02   Undesired    Singles
3              2015-07-02     Desired    Singles
4              2015-07-03     Desired    Couples
5              2015-07-03     Desired    Couples
6              2015-07-03     Desired    Couples
7              2015-07-03     Desired    Couples
8              2015-05-06     Desired    Couples
9              2015-04-22     Desired    Couples
             hotel  is_canceled  arrival_date_year arrival_date_month  \
119380  City Hotel            0               2017             August
119381  City Hotel            0               2017             August
119382  City Hotel            0               2017             August
119383  City Hotel            0               2017             August
119384  City Hotel            0               2017             August
119385  City Hotel            0               2017             August
119386  City Hotel            0               2017             August
119387  City Hotel            0               2017             August
119388  City Hotel            0               2017             August
119389  City Hotel            0               2017             August

        arrival_date_day_of_month  adults  children  babies country  \
119380                         31       2       0.0       0     DEU
119381                         31       2       0.0       0     DEU
119382                         30       3       0.0       0     JPN
119383                         31       2       0.0       0     DEU
119384                         30       2       0.0       0     BEL
119385                         30       2       0.0       0     BEL
119386                         31       3       0.0       0     FRA
119387                         31       2       0.0       0     DEU
119388                         31       2       0.0       0     GBR
119389                         29       2       0.0       0     DEU

       reserved_room_type assigned_room_type reservation_status  \
119380                  A                  A          Check-Out
119381                  A                  A          Check-Out
119382                  G                  G          Check-Out
119383                  A                  A          Check-Out
119384                  A                  A          Check-Out
119385                  A                  A          Check-Out
119386                  E                  E          Check-Out
119387                  D                  D          Check-Out
119388                  A                  A          Check-Out
119389                  A                  A          Check-Out

       reservation_status_date Room_Status guest_type
119380              2017-09-04     Desired    Couples
119381              2017-09-05     Desired    Couples
119382              2017-09-05     Desired     Family
119383              2017-09-06     Desired    Couples
119384              2017-09-06     Desired    Couples
119385              2017-09-06     Desired    Couples
119386              2017-09-07     Desired     Family
119387              2017-09-07     Desired    Couples
119388              2017-09-07     Desired    Couples
119389              2017-09-07     Desired    Couples
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   hotel                      119390 non-null  object
 1   is_canceled                119390 non-null  int64
 2   arrival_date_year          119390 non-null  int64
 3   arrival_date_month         119390 non-null  object
 4   arrival_date_day_of_month  119390 non-null  int64
 5   adults                     119390 non-null  int64
 6   children                   119386 non-null  float64
 7   babies                     119390 non-null  int64
 8   country                    118902 non-null  object
 9   reserved_room_type         119390 non-null  object
 10  assigned_room_type         119390 non-null  object
 11  reservation_status         119390 non-null  object
 12  reservation_status_date    119390 non-null  datetime64[ns]
 13  Room_Status                119390 non-null  object
 14  guest_type                 119390 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 13.7+ MB
None

In [6]:
data.describe()

,is_canceled,arrival_date_year,arrival_date_day_of_month,adults,children,babies,reservation_status_date
count,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390
mean,0.370416,2016.156554,15.798241,1.856403,0.103890,0.007949,2016-07-30 00:24:47.883407104
min,0.000000,2015.000000,1.000000,0.000000,0.000000,0.000000,2014-10-17 00:00:00
25%,0.000000,2016.000000,8.000000,2.000000,0.000000,0.000000,2016-02-01 00:00:00
50%,0.000000,2016.000000,16.000000,2.000000,0.000000,0.000000,2016-08-07 00:00:00
75%,1.000000,2017.000000,23.000000,2.000000,0.000000,0.000000,2017-02-08 00:00:00
max,1.000000,2017.000000,31.000000,55.000000,10.000000,10.000000,2017-09-14 00:00:00
std,0.482918,0.707476,8.780829,0.579261,0.398561,0.097436,NaN

In [7]:
print(data.isnull().sum())

hotel                          0
is_canceled                    0
arrival_date_year              0
arrival_date_month             0
arrival_date_day_of_month      0
adults                         0
children                       4
babies                         0
country                      488
reserved_room_type             0
assigned_room_type             0
reservation_status             0
reservation_status_date        0
Room_Status                    0
guest_type                     0
dtype: int64

In [35]:
data2=pd.read_excel("C:/Users/Lenovo/Downloads/Employee.xlsx")
print(data2)

    EEID     Name Gender   Salary
0  EMP01    Rohit      m      NaN
1  EMP02      Raj    NaN  25000.0
2  EMP03      NaN      m  27000.0
3  EMP04   Vikash      f  99000.0
4  EMP02    Vijay    NaN   7000.0
5  EMP06  Vikrant      m      NaN
6  EMP03      NaN      m  55000.0

In [9]:
print(data2["EEID"].duplicated().sum())

2

In [10]:
print(data2.drop_duplicates("EEID"))

    EEID     Name Gender   Salary
0  EMP01    Rohit      m      NaN
1  EMP02      Raj      m  25000.0
2  EMP03      Raj      m  27000.0
3  EMP04   Vikash      f  99000.0
5  EMP06  Vikrant      m      NaN

In [11]:
print(data2.isnull().sum())

EEID      0
Name      1
Gender    0
Salary    2
dtype: int64

In [12]:
print(data2.dropna())

    EEID    Name Gender   Salary
1  EMP02     Raj      m  25000.0
2  EMP03     Raj      m  27000.0
3  EMP04  Vikash      f  99000.0
4  EMP02   Vijay      f   7000.0

In [23]:
print(data2["Salary"].mean())

42600.0

In [37]:
import numpy as np
data2["Salary"]=data2["Salary"].replace(np.nan,42600)
print(data2)

    EEID     Name Gender   Salary
0  EMP01    Rohit      m  42600.0
1  EMP02      Raj    NaN  25000.0
2  EMP03      NaN      m  27000.0
3  EMP04   Vikash      f  99000.0
4  EMP02    Vijay    NaN   7000.0
5  EMP06  Vikrant      m  42600.0
6  EMP03      NaN      m  55000.0

In [40]:
print(data2.bfill())

    EEID     Name Gender   Salary
0  EMP01    Rohit      m  42600.0
1  EMP02      Raj      m  25000.0
2  EMP03   Vikash      m  27000.0
3  EMP04   Vikash      f  99000.0
4  EMP02    Vijay      m   7000.0
5  EMP06  Vikrant      m  42600.0
6  EMP03      NaN      m  55000.0

In [41]:
print(data2.ffill())

    EEID     Name Gender   Salary
0  EMP01    Rohit      m  42600.0
1  EMP02      Raj      m  25000.0
2  EMP03      Raj      m  27000.0
3  EMP04   Vikash      f  99000.0
4  EMP02    Vijay      f   7000.0
5  EMP06  Vikrant      m  42600.0
6  EMP03  Vikrant      m  55000.0